<!DOCTYPE html>
<html>
  <head>
    <title>Mutably front-end</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="ejs_production.js"></script>
    <script type="text/javascript" src="/script.js"></script>
  </head>
  <body class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <nav class="navbar navbar-default">
        <a class="navbar-brand" href="/">Pokédex!</a>
      </nav>
      <div class="panel panel-default">
        <div class="panel-heading">Welcome to your Pokédex!</div>
        <button id="getAllPokemon">Show All Pokémon!</button>
        <button class="addNewPoke-btn">Add New Pokémon!</button>
        <form id='addPokeForm' class="form-inline" hidden>
          <strong>Pokémon Name: </strong><input type='text' id='name-input'></input><br>
          <strong>Pokédex Number: </strong><input type='text' id='pokeNumber-input'></input><br>
          <strong>Evolves From: </strong><input type='text' id='evolves_from-input'></input><br></br>
          <button type="submit" class="saveNewPoke-btn" >Save New Pokémon</button>
        </form>
        <ul class="list-group">
          <!-- your resource items here -->
        </ul>
      </div>
    </div>
  </body>
</html>
